# Build results
[Bb]in/
[Oo]bj/

# Excel
~*

# Visual Studio
.vs/
.vscode/
*.csproj.user

# Binlog files
*.binlog

# Scratch files
scratch*.txt

# tmp dir
tmp/

# exe, obj, pdb
*.exe
*.obj
*.pdb

# nettrace files
*.nettrace

# csv files
*.csv

# ruleset
*.ruleset

