# Build results
[Bb]in/
[Oo]bj/

# Excel
~*

# Visual Studio
.vs/
.vscode/

# Binlog files
*.binlog

# Scratch files
scratch*.txt

# tmp dir
tmp/

# exe and obj
*.exe
*.obj

# nettrace files
*.nettrace